body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #e3fdfd
}

h1 {
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: min(20vw, 5.625rem);
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: bold;
    font-size: 2rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: lightgray;
    border-width: 5px;
    width: 48px;
}



.top-container {
    position: relative;
    padding-top: 150px;
    background-color: #cbf1f5;
    height: 550px;
}

.top-cloud {
    position: absolute;
    top: 100px;
    left: 65%;
    width: 150px;
    max-width: 30%;
}

.h2-top {
    font-weight: normal;
    font-size: min(10vw, 1.5rem);
}

.bottom-cloud {
    position: absolute;
    top: 450px;
    right: 65%;
    width: 150px;
    max-width: 30%;
}

.mountain {
    max-width: 80%;
    margin-top: 50px;
    position: absolute;
    margin-left: max(-262px, -40%);
    bottom: 0;
}



.middle-container {
    
}

.profile {
    margin: 100px auto;
}

.bunny-img {
    background-color: #a6e3e9;
    padding: 10px;
    border-radius: 50%;
    border-style: solid;
    width: 96px;
}

.skills {
    margin-top: 100px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.thai-img {
    width: 20%;
    float: left;
    margin-right: 30px;
}
.travel-img {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.contact-me {
margin-top: 100px;
}

.contact-descr {
    margin-top: 30px;
}

.btn {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-color: #71c9ce;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    padding: 10px 15px;
    display: inline-block;
    margin-top: 50px;
    border-radius: 8px;
}

.btn:hover {
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
}



.bottom-container {
    margin-top: 100px;
    padding: 50px 0;
    background-color: #71c9ce;
    color: white;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #11999E;
    margin: 0 25px;
}

.copyright {
    color: white;
    font-size: 0.75rem;
    margin-top: 50px;
}

.flaticon {
    color: white;

}